body {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    flex-direction: column;
}

h1,
h2 {
    Font-family: Copperplate, Copperplate Gothic Light, fantasy;
    padding: 1em;
    color: #2c3441;
}

header {
    display: flex;
    background-color: #6e6590;
}

nav {
    display: flex;
    background-color: #8395b4;

}

li {
    color: #F7F7F9;
}

main {
    display: flex;
    background-color: #F7F7F9;

}

.skill {
    
}





@media only screen and (min-width: 481px) {}


@media only screen and (min-width: 769px) {}


@media only screen and (min-width: 1025px) {}