/* header */

/* .bio */

/* This is a single-line comment */


/* This is a single-line comment */

header {
    display: flex;
}

main {
    display: flex;
}
       
.webdev {
    display: flex;
}
.open {
    display: flex;
}
.question {
    display: flex;
}

footer {
    display: flex;
}