/* header */

/* .bio */

/* This is a single-line comment */


/* This is a single-line comment */
h1, h2 {
    Font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

header {
    display: flex;
    background-color: #BC8DA7;
    
}

nav {
    display: flex;
    background-color: #1D2E49;
}

main {
    display: flex;
    background-color: #EFF1ED;
}
       
.webdev {
    display: flex;
}
.Spanish {
    display: flex;
}
.question {
    display: flex;
}

footer {
    display: flex;
}